<div class="col-md-12 form-actions" data-id="1">
	<p>
		<%= text_area_tag 'content', nil, :cols => "50", placeholder: "Create new question here..." %>		
		<%= hidden_field_tag :question_type, 1 %>
		<%= fields_for :answers_attributes do |f| %>
			<%= render 'radio_answer', f: f %>
		<% end %>	
	</p>	
</div>	