<div class="col-md-12 form-actions" data-id="3">
	<p>
		<%= text_area_tag 'content_short', nil, :cols => "50", placeholder: "Create short question here..." %>
		<%= hidden_field_tag 'question_type', 3 %>
	</p>	
</div>			