<h1>your score</h1>
<div class="col-md-6 col-md-offset-3">
	<strong> Result: <%= @score %>/20</strong>
	<% if !@hash.nil? %>	
		<p>Your short answer: </p>
		<% @hash.each do |ques, cont| %>
			<li><p><%= ques  %><strong> <%= cont %></strong></p></li>
		<% end %>	
	<% end %>	
</div>	




