@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 5px;
}
/* header */
#logo {
  float: left;
  font-size: 2.3em;
  color: #989898 ;
  text-transform: uppercase;
  padding-top: 6px;
}

/* typography */

h1, h2, h3, h4, h5, {
  line-height: 1;
  color: #880000 ;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: 0000FF;
}

h6 {
  font-size: 1.4em;
  text-align: right;
  color: 330066;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



#correct {
  color: #00FF00;
}

/*.form-actions {
  display: none;
}*/

/*.form-actions[data-id='3']{
  display: block;
}*/

